{% extends 'base.html' %}


{% block content %}

<h1>Add Person</h1>

<div class="card darkcard text-white lend">
    <div class="card-body">
        <form action="#" method="POST">
            {% csrf_token %}

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend"><b>Name</b></span>
                </div>
                <input type="text" required  name="name" placeholder="Alexa Maier">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">Address</span>
                </div>
                <input type="text" name="address" placeholder="Main Street 67, 77345 Town">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">Mail</span>
                </div>
                <input type="mail" name="mail" placeholder="">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">Phone</span>
                </div>
                <input type="text" name="phone" placeholder="0174 4537890">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">Notes</span>
                </div>
                <textarea rows="5" columns="15"  name="notes"></textarea>
            </div>
            
            <button type="submit" class="btn btn-success">
              <i class="far fa-save"></i> Save
            </button>
        </form>
    </div>
</div>

<script>
document.getElementById('datePicker').valueAsDate = new Date();
var tomorrow = new Date();
tomorrow.setDate(tomorrow.getDate() + 7);
document.getElementById('datePickerWeek').valueAsDate = tomorrow;
</script>

{% endblock %}